/* filter */
.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 34px;
    gap: 16px 8px;

    @media screen and(min-width: 768px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    // &__item {
            
    //     }

        &__button {
            width: 100%;
            color: var(--text-color);
            background-color: var(--alt-color);
            font-weight: 500;
            line-height: 1.62;
            display: flex;
            padding: 6px 22px;

            &:first-child {
                padding: 6px 25px;
            }
    
            &:hover,
            &:focus {
                color: var(--background-color);
                background-color: var(--link-color);
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
            }
        }
}


