.foot {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
    
    &__container {
            align-items: baseline;
        gap: 93px;
        // row-gap: 60px;
        text-align: center;

        @media screen and(min-width: 1200px) {
                display: flex;
                text-align:left;
                justify-content: space-between;
            }
    }

    .foot__contacts {
        margin-bottom: 60px;

        @media screen and(min-width: 1200px) {
            margin-bottom: 0px;
        }
    }
    
    &__wrap {
        // padding-top: 12px;
        margin-bottom: 60px;
        // margin-top: 60px;

        @media screen and(min-width: 1200px) {
                margin-bottom: 0px;
            }
        
    }

    &__address {
        margin-top: 20px;
        // white-space: nowrap;
    }
}



.contacts__item {
    // display: flex;
    // flex-direction: column;
    margin-bottom: 8px;
    
    &:last-child {
        margin-bottom: 0;
    }
}

.contacts__link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
}


.contacts__address {
    color: var(--background-color);
    font-style: normal;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;

    &:hover,
    &:focus {
        color: var(--link-color);
    }
}

/* footer-form */

.subscribe {
        @media screen and(min-width: 1200px) {
//  padding-top: 12px;
            }

    &__input {
        // width: 358px;
        width: 450px;
        height: 50px;
        margin-bottom: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding: 15px;
        background-color: transparent;
        color: var(--alt-color);

        @media screen and(min-width: 1200px) {
               width: 358px;
        margin: 0px;
                }
        
        
    }

    &__icon {
        margin-left: 10px;
        height: 100%;
        width: 100%;
        fill: var(--background-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.subscribe__row {
    // display: flex;
    // flex-wrap: wrap;
align-items: center;
    gap: 12px;
    
    @media screen and(min-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
        }

    & .subscribe__button:hover .subscribe__icon,
    & .subscribe__button:hover .subscribe__icon {
        fill: var(--text-color);
    }
    
}

.subscribe__button {
    display: flex;
    padding: 10px 28px;
margin-left: auto;
margin-right: auto;
    &:hover,
    &:focus {
        color: var(--text-color);
        background-color: var(--alt-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}


.foot__title,
.subscribe__title {
    font-weight: var(--H-weight);
    line-height: 1.14;
    text-transform: uppercase;
    font-style: normal;
    color: var(--background-color);
    margin-bottom: 20px;
}

.help {
    display: flex;
    flex-direction: column;

    @media screen and(min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

    @media screen and(min-width: 1200px) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        gap: 93px;
    }
    // flex-wrap: wrap;
}


// //  foot 

// .foot {
//     background-color: #2f303a;
//     padding-top: 60px;
//     padding-bottom: 60px;

//     &__container {
//         // display: flex;
//         gap: 93px;
//     }

//     &__wrap {
//         padding-top: 12px;
//     }

//     &__address {
//         margin-top: 20px;
//         white-space: nowrap;
//     }
// }



// .contacts__item {
//     // display: flex;
//     // flex-direction: column;
//     margin-bottom: 8px;

//     &:last-child {
//         margin-bottom: 0;
//     }
// }

// .contacts__link {
//     color: rgba(255, 255, 255, 0.6);
//     font-style: normal;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     font-weight: 400;
// }


// .contacts__address {
//     color: var(--background-color);
//     font-style: normal;
//     text-decoration: none;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     font-weight: 400;

//     &:hover,
//     &:focus {
//         color: var(--link-color);
//     }
// }

/* footer-form */

// .subscribe {
//     padding-top: 12px;

//     &__input {
//         width: 358px;
//         border: 1px solid rgba(255, 255, 255, 0.3);
//         filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//         border-radius: 4px;
//         padding: 15px;
//         background-color: transparent;
//         color: var(--alt-color);
//     }

//     &__icon {
//         margin-left: 10px;
//         height: 100%;
//         width: 100%;
//         fill: var(--background-color);
//         transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
// }

// .subscribe__row {
//     display: flex;
//     gap: 12px;

//     & .subscribe__button:hover .subscribe__icon,
//     & .subscribe__button:hover .subscribe__icon {
//         fill: var(--text-color);
//     }
// }

// .subscribe__button {
//     display: flex;
//     padding: 10px 28px;

//     &:hover,
//     &:focus {
//         color: var(--text-color);
//         background-color: var(--alt-color);
//         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     }
// }


// .foot__title,
// .subscribe__title {
//     font-weight: var(--H-weight);
//     line-height: 1.14;
//     text-transform: uppercase;
//     font-style: normal;
//     color: var(--background-color);
//     margin-bottom: 20px;
// }
