
.header {
    border: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 25px;

    &__container {
        justify-content: space-between;
    }

    &__container,
    &__nav {
        display: flex;
        align-items: center;
    }
}


/* nav */
.site-nav {
    display: flex;
    margin-left: 93px;
    
    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        line-height: 1.14;
    }
}

.current {
    color: var(--link-color);
    fill: var(--link-color);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        border-bottom: 4px solid var(--link-color);
        border-radius: 2px;
        width: 100%;
        bottom: -34px;
        left: 0;
        /* transform: translateY(+800%); */
    }
}


.auth-nav {
    display: flex;
    gap: 30px;

    &__link {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
    }

    &__item {
        display: flex;
    }

    &__icon {
        margin-right: 10px;
        fill: var(--main-color);
        width: 100%;
        height: 100%;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__link:hover .auth-nav__icon,
    &__item .auth-nav__link:focus .auth-nav__icon {
        color: var(--link-color);
        fill: var(--link-color);
    }


}

