.hero {
    /* background-color: #2f303a; */
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;

    /* background-image: url(../images/hero-bg.jpg); */
    /* flex-grow: 1; */
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and(min-width: 768px) {
        max-width: 768px;
    }
    @media screen and(min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
    }
    &__title {
        color: var(--background-color);
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;
        
        @media screen and(min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
        }
    }
}