/* main color: #212121; */
/* text color: #212121 */
/* link color #2196F3 */
/* bg color #fff */
/* alt color #f5f4fa */

:root {
    --main-color: #757575;
    --text-color: #212121;
    --link-color: #2196f3;
    --background-color: #fff;
    --alt-color: #f5f4fa;
    --H-weight: 700;
}